* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 200px;
}

input[type="text"]:hover {
  border-color: #999;
}
input[type="text"]:focus {
  border-color: #555;
  outline: none; 
}

.input-title {
  text-transform: capitalize;
  font-size: 18px;
  color: #000;
}